@tailwind base;
@tailwind components;
@tailwind utilities;

@import "swiper/css";
@import "swiper/css/navigation";

body {
  background-color: #150B07;
  color: #D3D3D3;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 22.4px;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

.glass-card {
  background: rgba(194, 227, 255, 0.06);
}

.highlight-pill-gradient {
  background: linear-gradient(
    90deg,
    rgba(244, 173, 151, 0.1),
    rgba(215, 124, 124, 0.1)
  );
}

.marquee-mask {
  mask-image: linear-gradient(
    to right,
    transparent,
    black 10%,
    black 90%,
    transparent
  );
  -webkit-mask-image: linear-gradient(
    to right,
    transparent,
    black 10%,
    black 90%,
    transparent
  );
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
